/* drie basisstijlregels om je te helpen */
:root {font-size: 100%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */
h1 {
    box-shadow: 10vw 0 #b5179e, 20vw 0 #7209b7, 30vw 0 #560bad, 40vw 0 #480ca8, 50vw 0 #3a0ca3, 60vw 0 #3f37c9, 70vw 0 #4361ee, 80vw 0 #4895ef, 90vw 0 #4cc9f0;
    background-color: #f72585;
    height: 100vh;
    width: 10vw;
}